@charset "UTF-8";
/* Глобальный  border-box*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Конец глобальный  border-box*/
/* Базовый сброс */
.link {
  text-decoration: none;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

/* Конец базовый сброс */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__box {
  color: #000000;
}

.logo__box--inverse {
  color: #ffffff;
}

.page-footer__logo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .page-footer__logo {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Навигация */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .navigation__button-menu {
    display: none;
  }
}

.navigation__button-menu .navigation__icon-cross {
  display: none;
}

.navigation__button-menu.is-open .navigation__icon-cross {
  display: block;
}

.navigation__button-menu.is-open .navigation__icon-menu {
  display: none;
}

.menu-container {
  background-color: yellow;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .navigation__list .navigation__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__list .navigation__link--current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    bottom: 0;
    left: 0;
  }
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 40px;
  line-height: 1.18;
  margin-left: 40px;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 0;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    width: 145px;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contact__list .contact__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contact__icon-smartphone {
  display: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact__icon-smartphone {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.contact__icon-mail {
  display: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact__icon-mail {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon-mail {
    width: 16px;
    height: 12px;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__link:hover .contakt__icon-smartphone,
.contact__link:focus .contakt__icon-smartphone,
.contact__link:hover .contakt__icon-mail,
.contact__link:focus .contakt__icon-mail {
  fill: #2196f3;
}

.hero__button, .page-footer__button, .modal__button-submit {
  min-width: 200px;
  min-height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .page-footer__button:hover, .modal__button-submit:hover, .hero__button:focus, .page-footer__button:focus, .modal__button-submit:focus {
  background-color: #188ce8;
}

.hero__button {
  font-family: inherit;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.filters__button {
  cursor: pointer;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.page-footer__button {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .page-footer__button {
    margin: 0;
  }
}

.page-footer__icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
}

.modal__button-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  margin: 8px 8px;
  cursor: pointer;
}

.modal__button-close:focus .modal__icon-close,
.modal__button-close:hover .modal__icon-close {
  fill: #2196f3;
}

.modal__icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit {
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
}

.address-block__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-block__item:first-child .address-block__link {
  color: #ffffff;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-bottom: 0;
}

.team--social {
  margin-top: 16px;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: #ffffff;
}

.social__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border: 1px solid #ececec;
}

.page-header__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__list .filters__item:not(:first-child) {
  margin-left: 8px;
}

.project__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
}

.project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:focus, .project__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link:hover .project__thumbnail::before,
.project__link:hover .project__text-overley {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* opacity: 1; */
}

.project__thumbnail {
  position: relative;
  overflow: hidden;
}

.project__text-overley {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  padding: 63px 23px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  /* opacity: 0; */
  -webkit-transform: translateY(100.5%);
          transform: translateY(100.5%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.project__box {
  width: 100%;
  background: #ffffff;
  /* border: 1px solid #eeeeee;
  box-sizing: border-box; */
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Секция page-footer */
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__holder {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__holder {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__box-social {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .page-footer__box-social {
    text-align: left;
    margin-left: 70px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__tablet {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.page-footer__box-form {
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .page-footer__box-form {
    text-align: left;
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px 15px 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .page-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__input {
    width: 350px;
    margin-right: 12px;
  }
}

.page-footer__input:focus {
  border-color: #2196f3;
}

.page-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=main-portfolio.css.map */