// Секция properties
.properties {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.properties__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 1200px) {
    margin: 0px;
    flex-wrap: nowrap;
    & .properties__item:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.properties__item {
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 30px) / 1);
  margin: 15px;

  @media screen and (min-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.properties__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-background-color;

  max-height: 120px;
  margin-bottom: 30px;
}
.properties__icon {
  display: block;
  width: 70px;
  height: 70px;
  fill: $title-color;
}

.feature__title {
  margin-top: 0px;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  @media screen and (min-width: 767px) {
    text-align: left;
  }
}

.feature__text {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
}
