%button {
  min-width: 200px;
  min-height: 50px;
  color: $color1;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $button-accent-color;
  }
}

// Кнопка секции hero
.hero__button {
  @extend %button;

  font-family: inherit;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
}

//  Кнопки cекции portfolio
.filters__button {
  cursor: pointer;
  background-color: $button-background-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
  border-radius: 4px;

  padding: 6px 22px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $color1;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

// Кнопка секции footer
.page-footer__button {
  @extend %button;

  position: relative;
  padding-left: 28px;
  padding-right: 28px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  // text-align: center;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.page-footer__icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);

  fill: $color1;
}

// Кнопки модальной формы
//  Кнопка закрытия
.modal__button-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  margin: 8px 8px;
  cursor: pointer;

  &:focus .modal__icon-close,
  &:hover .modal__icon-close {
    fill: $accent-color;
  }
}

.modal__icon-close {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Кнопка отправки информации
.modal__button-submit {
  @extend %button;

  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  // text-align: center;
}
