// Блок контактов Телефон и mail

.contact__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-top: -16px;
    margin-bottom: -16px;
    & .contact__item {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 145px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    & .contact__item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.contact__icon-smartphone {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 10px;
    height: 14px;
    margin-right: 10px;
    fill: $text-color;
  }
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon-mail {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 10px;
    fill: $text-color;
  }
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link {
  // display: flex;
  // align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .contakt__icon-smartphone,
  &:focus .contakt__icon-smartphone,
  &:hover .contakt__icon-mail,
  &:focus .contakt__icon-mail {
    fill: $accent-color;
  }
}
