$main-fond: Roboto, sans-serif;
$secondari-font: Raleway, sans-serif;
$accent-color: #2196f3;
$background-color: #e5e5e5;
$text-color: #757575;
$title-color: #212121;
$color1: #ffffff;
$color2: #000000;
$adress-color: rgba(255, 255, 255, 0.6);
$button-background-color: #f5f4fa;
$footer-background-color: #2f303a;
$button-accent-color: #188ce8;
$icon-client-color: #afb1b8;
